.home {
    min-height: 100vh;
    width: 100%;
    background-color: white;
}

.card {
    width: 100%;
    height: 800px;
    background-color: #abf0fff1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.card-content {
    text-align: center;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.card-title {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    color: black;
}

.card-subtitle {
    margin: 0;
    font-size: 1.5rem;
    color: black;
}

.card-button {
    width: 150px;
    background-color: #f0f0f0;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.card-image {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.card-image img {
    width: 700px;
    height: 600px;
    object-fit: cover;
}