/* 헤더 스타일 */
.header {
    background-color: #ffffff;
    color: white;
    padding: 8px 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* 컨테이너 */
.container {
    width: 90%;
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; /* 로고와 네비게이션을 양쪽 끝에 배치 */
    align-items: center; /* 수직 중앙 정렬 */
    padding: 0 24px;
}

/* 로고 스타일 */
.logo {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
}

.edu {
    color: white; /* 흰색 글자 */
    text-shadow: 1px 1px 2px black, 0 0 10px black, 0 0 5px darkgray; /* 글자 테두리 효과 */
}

.report {
    color: #facc15; /* 노란색 글자 */
    text-shadow: 1px 1px 2px black, 0 0 10px black, 0 0 5px darkgray; /* 글자 테두리 효과 */
}

/* 네비게이션 */
.nav-list {
    display: flex;
    gap: 24px;
    font-size: 1.125rem;
}

/* 네비게이션 아이템 */
.nav-item {
    padding: 12px 24px; /* 패딩을 두 방향에 맞게 적용 */
    color: white;
    border-radius: 8px;
    background-color: #1BD7FF;
    text-decoration: none;
    text-align: center;
    display: flex; /* Flexbox로 텍스트를 한 줄에 유지 */
    justify-content: center; /* 텍스트 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    transition: background-color 0.3s ease, color 0.2s ease-in-out;
    white-space: nowrap; /* 텍스트가 한 줄로 유지되도록 설정 */
    font-size: 1rem; /* 폰트 크기 조정 */
    font-weight: bold; /* 폰트 굵기 조정 */
}

.nav-item:hover {
    background-color: #1883e7; /* hover 상태에서 배경색을 노란색으로 변경 */
    color: white; /* hover 시 텍스트 색을 검정색으로 */
}

